body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    height: 600px;
    width: 600px;
    display: flex;
    border: 1px solid black;
}

.grid-col {
    height: 100;;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid-item {
    height: 100%;
    width: 100%;
}

.black {
    background-color: black;
}

.white {
    background-color: none;
}

.button-on {
    background-color: black;
    color: white;
};